.received {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 12px;
    gap: 10px;
    border-radius: 20px;
    margin-left: 12px;
    margin-bottom: 20px;
}

.actions {
    justify-content: end;
}

main {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    margin-bottom: 80px;
}

form {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 94%;
    top: 92vh;
}

form div {
    text-align: end;
    width: 762px;
}

form input {
    width: inherit;
    padding: 10px;
    background-color: yellow;
    padding-right: 56px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

form button {
    position: absolute;
    cursor: pointer;
    top: 2px;
    height: 90%;
    width: 50px;
    background-color: rgb(255, 255, 0);
    border: none;
    border-left: 1px solid rgb(0, 0, 0);
    margin-left: 15px;
}

@media (max-width: 1100px) {
    form div {
        width: 500px;
    }
}

@media (max-width: 850px) {
    main {
        margin-bottom: 200px;
    }
}

@media (max-width: 830px) {
    form {
        width: 88%;
    }

    form div {
        width: 300px;
    }
}

@media (max-width: 500px) {
    form {
        width: 82%;
    }

    form div {
        width: 220px;
    }
}