header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 255);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 40px;
}

header button:hover {
    background-color: #ff0000;
}

header button:active {
    background-color: #aa0000;
}

header h3, header button {
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: 3px solid white;
}

header span {
    cursor: pointer;
    font-size: 40px;
    font-weight: bolder;
    color: white;
}

header h3 {
    margin-left: 30px;
}

header button {
    background-color: transparent;
    margin-right: 30px;
}

@media (max-width: 360px) {
    header span {
        font-size: 30px;
    }
    
    header h3, header button {
        font-size: 13px;
    }
}