.space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: blue;
    height: fit-content;
    width: 500px;
    padding: 18px;
    padding-bottom: 30px;
    border-radius: 15px;
    gap: 30px;
}

.content h1 {
    display: flex;
    align-items: center;
    font-size: 55px;
    font-weight: bolder;
    color: white;
}

.content div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.content img {
    height: 40px;
    width: fit-content;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}

.content button {
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid white;
}

.content span {
    padding: 12px;
    background-color: yellow;
    border-radius: 15px;
}

.content button:hover {
    background-color: greenyellow;
}

.content button:active {
    background-color: green;
}

@media (max-width: 700px) {
    .content {
        width: 350px;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .content {
        width: 240px;
    }
}