.space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: rgb(0, 0, 255);
    height: fit-content;
    width: 500px;
    padding: 18px;
    padding-bottom: 30px;
    border-radius: 15px;
    gap: 30px;
}

.content h1 {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 55px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.content div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.content img {
    cursor: pointer;
    height: 40px;
    width: fit-content;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.content button {
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
}

.content span {
    padding: 12px;
    background-color: rgb(255, 255, 0);
    border-radius: 15px;
}

.content button:hover {
    background-color: #47d000;
}

.content button:active {
    background-color: #2e8a00;
}

@media (max-width: 700px) {
    .content {
        width: 350px;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .content {
        width: 240px;
    }
}