.App {
  height: 100%;
  min-height: 100vh;
  width: inherit;
  background: rgb(255, 255, 255);
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: inherit;
  width: inherit;
}